@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2&family=Roboto&display=swap');
/* basic */
.wrapper {
    margin: 0px auto;
    background-color: rgb(253, 251, 251);
    width:1440px;
    height: 900px;
    display: grid;
    grid-template-columns: 236px 621px 583px;
    font-family:"Baloo Bhaina 2"
}
.wrapper > div {
    background-color: rgb(206, 184, 184);
}
.wrapper > div.light {
    background-color: rgb(138, 125, 125);
}
/* MENU */
.menu {
    width:132px;
    height:852px;
    background-color: black;
    margin-top:24.02px;
    margin-left:32.34px;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    justify-content:space-between ;
    align-items: center;
    color:rgba(255, 255, 255, 1);
    box-shadow: 5px 5px 5px rgb(65, 61, 61);
    
}
.menu_uplevel{
    font-size:64px;
    font-weight: bold;
}
.menu_image{
    width:26px;
    height: 26px;
}

.menu_centerlevel{
    height: 381px;
    display: flex;
    flex-direction: column;
    justify-content:space-between ;
    margin-bottom:150px;
}